<section class="custom_slider_section">

    <h2 class="page-heading">Custom slider</h2>
    <div>
        <div id="customSlickId" class="custom_slick">
            <div class="custom-slide">
                <a href="/categories/women.html">
                <img src="https://cdn11.bigcommerce.com/s-rb77pka1lg/product_images/uploaded_images/slide1.jpg" alt="slide-image">
                <div class="slick-custom-slide-text">custom_slide1</div>
                </a>
            </div>
            
            <div class="custom-slide">
                <a href="/categories/men.html">
                    <img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-rb77pka1lg/product_images/uploaded_images/slide2.jpg" alt="slide-image">
                    <div class="slick-custom-slide-text">custom_slide2</div>
                </a>    
            </div>
            
            <div class="custom-slide">
                <a href="/categories/training-gear.html">

                    <img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-rb77pka1lg/product_images/uploaded_images/slide3.jpg" alt="slide-image">
                    <div class="slick-custom-slide-text">custom_slide3</div>
                </a>
            </div>
            
        </div>
    </div>

</section>